# Project-specific 
# *.ndjson
# *.pdf
slurm-*.out

# Ignore macOS system files
/.DS_Store
.vscode/
.DS_Store
__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info
dist
build
eggs
parts
sdist
var
*.log
*.pot
*.mov
